<h2>Add a friend</h2>

<%= form_for :friends do |f| %>

  <%= f.label :friend_username %><br />
  <%= f.text_field :friend_username, autofocus: true %><br />
  <%= f.submit "Add", name: "friendUsername" %>
  
<% end %>


