<h1>All Conversations</h1>

<div class="ui middle aligned selection celled list">
<div class="item">
  <%= link_to new_conversation_path do %>
    <div class="content">
      <div class="header">New Conversation</div>
    </div>
  <% end %>
</div>
  <% @conversations.each do |conversation| %>
    <% recipient = conversation.recipients - [current_user] %>
    <div class="item">
      <%= link_to conversation_path(conversation) do %>
        <!-- <img class="ui avatar image" src="https://www.abc.net.au/news/image/8314104-1x1-940x940.jpg"> -->
        <div class="content">
          <div class="header"><%= recipient[0].username %></div>
        </div>
      <% end %>
    </div>
<% end %>
  
</div>

